@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f9fafb;
    
    /* Invert white and gray palette for dark mode */
    --color-white: #1f2937;
    --color-gray-50: #111827;
    --color-gray-100: #374151;
    --color-gray-200: #4b5563;
    --color-gray-300: #4b5563;
    --color-gray-400: #9ca3af;
    --color-gray-500: #9ca3af;
    --color-gray-600: #d1d5db;
    --color-gray-700: #e5e7eb;
    --color-gray-800: #f3f4f6;
    --color-gray-900: #f9fafb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
